<ion-view title="FAQ" >
  <ion-content class="padding">
    <div class="card item-text">
		<div class="item item-divider item item-text-wrap card-bk2 ">Personal Details</div>
		
		<p class="item item-text-wrap"><strong> Name -  </strong>
				Type in your First Name & Last name<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Phone Number -  </strong>
				Provide a phone number that you can be reached at.<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Email Address -  </strong>
				Provide your email address that we can use to send you CEB communications<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Address -  </strong>
				There are 3 text fields that you can use to provide your full postal address<br><br>
		</p>
		
		<div class="item item-divider item item-text-wrap card-bk2 ">Educational Details</div>
		
		<p class="item item-text-wrap"><strong> Institution -  </strong>
				Use this section to provide your education details starting from the latest.<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Major/Area of Study -  </strong>
				Mention what was your area of study<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Education Level -  </strong>
				Select your education level from a dropdown list.<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Graduation Start date -  </strong>
				Provide a date when you started school. If you do not remember an exact date, that's ok. Provide what you think is the correct date.<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Graduation date -  </strong>
				Ths is the date when you graduated. If you do not remember an exact date, that's ok. Provide what you think is the correct date.<br><br>
		</p>
		
		<div class="item item-divider item item-text-wrap card-bk2 ">Additional Educational Details</div>
		
		<p class="item item-text-wrap"><strong> Institution -  </strong>
				Use this section to provide additional education details.<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Major/Area of Study -  </strong>
				Mention what was your area of study<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Education Level -  </strong>
				Select your education level from a dropdown list.<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Graduation Start date -  </strong>
				Provide a date when you started school. If you do not remember an exact date, that's ok. Provide what you think is the correct date.<br><br>
		</p>
		<p class="item item-text-wrap"><strong> Graduation date -  </strong>
				Ths is the date when you graduated. If you do not remember an exact date, that's ok. Provide what you think is the correct date.<br><br>
		</p>
	</div>
  </ion-content>
</ion-view>
