/* Empty. Add your own CSS if you like */
.card-bk2{
	color: #ffffff;
	background:url("../img/3.jpg") center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

}
.scroll-content{
	background:url("../img/1435902498958.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.bar .title{
	top: 8px;
}
.fError{
	color: red;
	
}
textarea{
	height: 100px;
}